.DS_Store


dot.emacs.d/anything-c-adaptive-history
dot.emacs.d/auto-save-list/*
dot.emacs.d/backups/*
dot.emacs.d/woman-cache

dot.zsh/cdd_pwd_list*

dot.vim/.netrwhist
dot.vim/.VimballRecord
dot.vim/backup/*
dot.vim/doc/tags*
dot.vim/info/ku/history
dot.vim/swap/*

dot.vimperator/info
