[submodule "dot.vim/bundle/vimfiler"]
	path = dot.vim/bundle/vimfiler
	url = git://github.com/Shougo/vimfiler.git
[submodule "dot.vim/bundle/vimshell"]
	path = dot.vim/bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "dot.vim/bundle/neocomplcache"]
	path = dot.vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "dot.vim/bundle/vimproc"]
	path = dot.vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "dot.vim/bundle/vim-html5validator"]
	path = dot.vim/bundle/vim-html5validator
	url = git://github.com/hokaccha/vim-html5validator.git
[submodule "dot.vim/bundle/vim-quickrun"]
	path = dot.vim/bundle/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "dot.vim/bundle/vim-ref"]
	path = dot.vim/bundle/vim-ref
	url = git://github.com/thinca/vim-ref.git
[submodule "dot.vim/bundle/vim-textobj-plugins"]
	path = dot.vim/bundle/vim-textobj-plugins
	url = git://github.com/thinca/vim-textobj-plugins.git
[submodule "dot.vim/bundle/vim-abolish"]
	path = dot.vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "dot.vim/bundle/vim-repeat"]
	path = dot.vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "dot.vim/bundle/eskk.vim"]
	path = dot.vim/bundle/eskk.vim
	url = git://github.com/tyru/eskk.vim.git
[submodule "dot.vim/bundle/git-vim"]
	path = dot.vim/bundle/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule "dot.vim/bundle/lingr-vim"]
	path = dot.vim/bundle/lingr-vim
	url = http://github.com/tsukkee/lingr-vim.git
[submodule "dot.vim/bundle/vim-github"]
	path = dot.vim/bundle/vim-github
	url = http://github.com/thinca/vim-github.git
[submodule "dot.vim/bundle/vim-poslist"]
	path = dot.vim/bundle/vim-poslist
	url = http://github.com/thinca/vim-poslist.git
[submodule "dot.vim/bundle/unite.vim"]
	path = dot.vim/bundle/unite.vim
	url = http://github.com/Shougo/unite.vim.git
[submodule "dot.vim/bundle/gist-vim"]
	path = dot.vim/bundle/gist-vim
	url = http://github.com/mattn/gist-vim.git
[submodule "dot.vim/bundle/undoclosewin.vim"]
	path = dot.vim/bundle/undoclosewin.vim
	url = http://github.com/tyru/undoclosewin.vim.git
[submodule "dot.vim/bundle/vim-scouter"]
	path = dot.vim/bundle/vim-scouter
	url = http://github.com/thinca/vim-scouter.git
[submodule "dot.vim/bundle/current-func-info.vim"]
	path = dot.vim/bundle/current-func-info.vim
	url = git://github.com/tyru/current-func-info.vim.git
[submodule "dot.vim/bundle/vim-altercmd"]
	path = dot.vim/bundle/vim-altercmd
	url = git://github.com/tyru/vim-altercmd.git
[submodule "dot.vim/bundle/shadow.vim"]
	path = dot.vim/bundle/shadow.vim
	url = git://github.com/ujihisa/shadow.vim.git
[submodule "dot.vim/bundle/caw.vim"]
	path = dot.vim/bundle/caw.vim
	url = http://github.com/tyru/caw.vim.git
[submodule "dot.vim/bundle/zencoding-vim"]
	path = dot.vim/bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "dot.vim/bundle/googletranslate-vim"]
	path = dot.vim/bundle/googletranslate-vim
	url = http://github.com/mattn/googletranslate-vim.git
[submodule "dot.vim/bundle/unite-outline"]
	path = dot.vim/bundle/unite-outline
	url = https://github.com/h1mesuke/unite-outline.git
[submodule "dot.vim/bundle/unite-pseudo-tree"]
	path = dot.vim/bundle/unite-pseudo-tree
	url = https://github.com/sgur/unite-pseudo-tree.git
[submodule "dot.vim/bundle/webapi-vim"]
	path = dot.vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "dot.vim/bundle/favstar-vim"]
	path = dot.vim/bundle/favstar-vim
	url = https://github.com/mattn/favstar-vim.git
[submodule "dot.vim/bundle/quiz-vim"]
	path = dot.vim/bundle/quiz-vim
	url = https://github.com/guyon/quiz-vim.git
[submodule "dot.vim/bundle/cul.vim"]
	path = dot.vim/bundle/cul.vim
	url = https://github.com/tyru/cul.vim.git
[submodule "dot.vim/bundle/savemap.vim"]
	path = dot.vim/bundle/savemap.vim
	url = https://github.com/tyru/savemap.vim.git
[submodule "dot.vim/bundle/unite-help"]
	path = dot.vim/bundle/unite-help
	url = https://github.com/tsukkee/unite-help.git
[submodule "dot.vim/bundle/unite-colorscheme"]
	path = dot.vim/bundle/unite-colorscheme
	url = https://github.com/ujihisa/unite-colorscheme.git
[submodule "dot.vim/bundle/vice.vim"]
	path = dot.vim/bundle/vice.vim
	url = https://github.com/tyru/vice.vim.git
[submodule "dot.vim/bundle/vim-pathogen"]
	path = dot.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dot.vim/bundle/vim-surround"]
	path = dot.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dot.vim/bundle/unite-yarm"]
	path = dot.vim/bundle/unite-yarm
	url = https://github.com/basyura/unite-yarm.git
[submodule "dot.vim/bundle/open-browser.vim"]
	path = dot.vim/bundle/open-browser.vim
	url = https://github.com/tyru/open-browser.vim.git
[submodule "dot.vim/bundle/errormaker.vim"]
	path = dot.vim/bundle/errormaker.vim
	url = https://github.com/vim-scripts/errormarker.vim.git
[submodule "dot.vim/bundle/vim-alignta"]
	path = dot.vim/bundle/vim-alignta
	url = https://github.com/h1mesuke/vim-alignta.git
[submodule "dot.vim/bundle/vim-textobj-indent"]
	path = dot.vim/bundle/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "dot.vim/bundle/vim-localrc"]
	path = dot.vim/bundle/vim-localrc
	url = https://github.com/thinca/vim-localrc.git
[submodule "dot.vim/bundle/tabpagecolorscheme"]
	path = dot.vim/bundle/tabpagecolorscheme
	url = https://github.com/ujihisa/tabpagecolorscheme.git
[submodule "dot.vim/bundle/emap.vim"]
	path = dot.vim/bundle/emap.vim
	url = https://github.com/tyru/emap.vim.git
[submodule "dot.vim/bundle/unite-grep"]
	path = dot.vim/bundle/unite-grep
	url = https://github.com/Sixeight/unite-grep.git
[submodule "dot.vim/bundle/vim-css3-syntax"]
	path = dot.vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "dot.vim/bundle/vim-textobj-user"]
	path = dot.vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "dot.vim/bundle/vim-textobj-entire"]
	path = dot.vim/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "dot.vim/bundle/neco-look"]
	path = dot.vim/bundle/neco-look
	url = https://github.com/ujihisa/neco-look.git
[submodule "dot.vim/bundle/vim-redmine"]
	path = dot.vim/bundle/vim-redmine
	url = https://github.com/toritori0318/vim-redmine.git
[submodule "dot.vim/bundle/vim-markdown"]
	path = dot.vim/bundle/vim-markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "dot.vim/bundle/gundo.vim"]
	path = dot.vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "dot.vim/bundle/scss-syntax.vim"]
	path = dot.vim/bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "dot.vim/bundle/unite-font"]
	path = dot.vim/bundle/unite-font
	url = https://github.com/ujihisa/unite-font.git
[submodule "dot.vim/bundle/vim-operator-user"]
	path = dot.vim/bundle/vim-operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule "dot.vim/bundle/vim-operator-replace"]
	path = dot.vim/bundle/vim-operator-replace
	url = https://github.com/kana/vim-operator-replace.git
[submodule "dot.vim/bundle/operator-camelize.vim"]
	path = dot.vim/bundle/operator-camelize.vim
	url = https://github.com/tyru/operator-camelize.vim.git
[submodule "dot.vim/bundle/visualctrlg.vim"]
	path = dot.vim/bundle/visualctrlg.vim
	url = https://github.com/tyru/visualctrlg.vim.git
[submodule "dot.vim/bundle/restart.vim"]
	path = dot.vim/bundle/restart.vim
	url = https://github.com/tyru/restart.vim.git
