.github-commit-status
gh/hosts.yml
git/config.local
mac/karabiner/automatic_backups
vim/vim/.netrwhist
vim/vim/backup
vim/vim/save_point
vim/vim/swap
zsh/zsh/cache/*
zsh/zsh/.chpwd-recent-dirs
zsh/zsh/.zcompdump
zsh/zsh/.zsh_history
zsh/zsh/plugins/000-antigen/antigen
zsh/zsh/plugins/ghq/ghq
