[submodule "dot.vim/bundle/vimfiler"]
	path = dot.vim/bundle/vimfiler
	url = git://github.com/Shougo/vimfiler.git
[submodule "dot.vim/bundle/vimshell"]
	path = dot.vim/bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "dot.vim/bundle/neocomplcache"]
	path = dot.vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "dot.vim/bundle/vimproc"]
	path = dot.vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "dot.vim/bundle/vim-html5validator"]
	path = dot.vim/bundle/vim-html5validator
	url = git://github.com/hokaccha/vim-html5validator.git
[submodule "dot.vim/bundle/vim-quickrun"]
	path = dot.vim/bundle/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "dot.vim/bundle/vim-ref"]
	path = dot.vim/bundle/vim-ref
	url = git://github.com/thinca/vim-ref.git
[submodule "dot.vim/bundle/vim-textobj-plugins"]
	path = dot.vim/bundle/vim-textobj-plugins
	url = git://github.com/thinca/vim-textobj-plugins.git
[submodule "dot.vim/bundle/vim-abolish"]
	path = dot.vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "dot.vim/bundle/vim-repeat"]
	path = dot.vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "dot.vim/bundle/vim-altercmd"]
	path = dot.vim/bundle/vim-altercmd
	url = git://github.com/kana/vim-altercmd.git
[submodule "dot.vim/bundle/eskk.vim"]
	path = dot.vim/bundle/eskk.vim
	url = git://github.com/tyru/eskk.vim.git
[submodule "dot.vim/bundle/git-vim"]
	path = dot.vim/bundle/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule "dot.vim/bundle/lingr-vim"]
	path = dot.vim/bundle/lingr-vim
	url = http://github.com/tsukkee/lingr-vim.git
[submodule "dot.vim/bundle/vim-github"]
	path = dot.vim/bundle/vim-github
	url = http://github.com/thinca/vim-github.git
[submodule "dot.vim/bundle/vim-poslist"]
	path = dot.vim/bundle/vim-poslist
	url = http://github.com/thinca/vim-poslist.git
[submodule "dot.vim/bundle/unite.vim"]
	path = dot.vim/bundle/unite.vim
	url = http://github.com/Shougo/unite.vim.git
[submodule "dot.vim/bundle/gist-vim"]
	path = dot.vim/bundle/gist-vim
	url = http://github.com/mattn/gist-vim.git
[submodule "dot.vim/bundle/undoclosewin.vim"]
	path = dot.vim/bundle/undoclosewin.vim
	url = http://github.com/tyru/undoclosewin.vim.git
[submodule "dot.vim/bundle/vim-scouter"]
	path = dot.vim/bundle/vim-scouter
	url = http://github.com/thinca/vim-scouter.git
