@charset "utf-8";

/**
 * デフォルトのフォントを指定
 */
*, body,
html[lang="en"] *,
html[lang="en-US"] *,
address,
pre, pre *, code, samp, var, tt,
h1, h1 *, h2, h2 *,
h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 *,
input, textarea, select {
	font-family: "YukarryAA" !important;
	font-size: 16px !important;
}

* {
	font-style: normal !important;
}
h1 {
	font-style: italic !important;
}

* {
	font-weight: normal !important;
}
h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 *, dt, dt *, th, b, em, strong, a[target="_blank"]:after {
	font-weight:bold !important;
}

/**
 * 選択中のフォーム要素に色を付ける
 *
 *
input:focus,
textarea:focus,
select:focus {
	outline: 2px solid blueviolet !important;
	background-color: #fdeef4 !important;
}
/* */

/**
 * 
 *
 *
a[href]:hover:after {
	content: attr(href) !important;
	position: fixed !important;
	bottom: 0px !important;
	left: 0px !important;
	z-index: 10000 !important;
	color: #fff !important;
	background-color: #44a !important;
	font: 13px normal sans-serif !important;
	line-height: 1em !important;
	padding: 1px 5px !important;
}
/* */
