/**
 * http://d.hatena.ne.jp/momizine/20100309/css
 * http://files.myopera.com/もみじん/files/amata-google-search.css
 */
@charset "utf-8";

/* font */
* {font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','ＩＰＡ Ｐゴシック',sans-serif !important;}

/* ad-block */
#tads,#mbEnd,#tpa1,table.ra {display:none !important;}

/* number */
body{counter-reset: result !important;}
a.l:before {content: counter(result) ". " !important;counter-increment:result !important;}
#res hr  {border:0 !important;}
#res hr+p{display:none !important;}

/* bg-color */
#res{padding-right:30px;}
.j{width:auto !important;}
.g{padding:5px 10px !important;}
.g{background-color:#fff;}
.g:hover{background-color:#f0f7f9;}

/* Opera1050 */
.g{-o-transition:all 1s ease;}
.g,.g:hover{border-radius:10px 20px 10px 10px;}
.g:hover{box-shadow : 5px 5px 10px #000;}

#res{padding-right:30px;}
.j{width:auto !important;}

/* hi-light */
a.l b,a.l em{background-color:#ffff00;font-style:normal;}
.t b:first-child,.g td.j .std em { color:blue !important;}

/* indent */
.g{margin-left:0em !important;}

/* cache */
.gl{float:right;}

/* login-menu */
#guser nobr {padding-right:10px;}

/* width */
#cnt{max-width:100% !important;}
.s{max-width:100% !important;}

/* footer */
.std{clear:left !important;}

/* 2column */
.g{padding:5px 1% !important; width:45% !important; margin:10px !important;}

/* guser log-in */
.g:nth-child(2n)   {float:left;}
.g:nth-child(2n-1) {clear:left; float:left;}



