@-moz-document url-prefix("chrome://") {
  .tabbrowser-tab[fadein]:not([pinned]) {
    min-width: 40px !important;
    max-width: 40px !important; } }

@-moz-document domain("www.chatwork.com") {
  #cw_promotion_area {
    display: none !important; } }

@-moz-document url-prefix("chrome://firebug/content/firefox/") {
  textbox#fbCommandLine,
  #fbCommandLineCompletion,
  #fbCommandEditor,
  #fbCommandToolbar {
    font-size: 12px !important;
    font-family: "Source Code Pro" !important; }

  .panelNode-console {
    font-size: 12px !important;
    font-family: "Ricty" !important; } }