<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset=utf-8 />
		<title>TITLE</title>

		<!-- Viewportの設定 -->
		<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, minimum-scale=0.5 , maximum-scale=2">

		<!-- reset.cssの設定 -->
		<link rel="stylesheet" media="screen" href="reset.css" />
		<!-- Media queriesの設定 -->
		<link rel="stylesheet" media="screen and (max-width: 65025px)" href="style.css" />
		<link rel="stylesheet" media="screen and (max-width: 640px)" href="mobile.css" />

		<!-- jQuery,jQuery Mobileの設定 -->
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
		<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>

		<!-- Modernizrの設定 -->
		<script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>

		<!-- IE向けの設定 -->
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
	</head>
	<body>
		{{_cursor_}}
	</body>
</html>
